# dependencies
node_modules/
.pnpm-store/

# logs
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
*.app

# Android App ignore
*.apk
*.idsig

# jetbrains setting folder
.idea/

# VSCode setting floder
.vscode/

